{#
* Copyright (C) ATHOS TRADER SL <info@athosonline.com>  
#}

<div class="container-fluid p-0">
    <div class="{{ webFooter.properties.footerwidth }}">
        <div class="row">
            <div class="col-lg-6 col-12 p-3">
                {{ webFooter.content.footer201|raw }}
            </div>

            <div class="col-lg-6 col-12 p-3">
                {{ webFooter.content.footer202|raw }}
            </div>
        </div>
    </div>
</div>