{#
* Copyright (C) ATHOS TRADER SL <info@athosonline.com>  
#}

<div class="container-fluid p-0">
    <div class="{{ webFooter.properties.footerwidth }}">
        <div class="row">
            <div class="col-lg-2 col-6 p-3">
                {{ webFooter.content.footer501|raw }}
            </div>

            <div class="col-lg-2 col-6 p-3">
                {{ webFooter.content.footer502|raw }}
            </div>

            <div class="col-lg-2 col-6 p-3">
                {{ webFooter.content.footer503|raw }}
            </div>

            <div class="col-lg-2 col-6 p-3">
                {{ webFooter.content.footer504|raw }}
            </div>

            <div class="col-lg-2 col-6 p-3">
                {{ webFooter.content.footer505|raw }}
            </div>

            <div class="col-lg-2 col-6 p-3">
                {{ webFooter.content.footer506|raw }}
            </div>
        </div>
    </div>
</div>