{#
* Copyright (C) ATHOS TRADER SL <info@athosonline.com>  
#}

<div class="container-fluid p-0">
    <div class="{{ webFooter.properties.footerwidth }}">
        <div class="row">
            <div class="col-12 col-lg-2 p-3">
                {{ webFooter.content.footer1103|raw }}
            </div>

            <div class="col-12 col-lg-2 p-3">
                {{ webFooter.content.footer1104|raw }}
            </div>

            <div class="col-12 col-lg-2 p-3">
                {{ webFooter.content.footer1105|raw }}
            </div>

            <div class="col-12 col-lg-2 p-3">
                {{ webFooter.content.footer1106|raw }}
            </div>

            <div class="col-12 col-lg-4 p-3">
                {{ webFooter.content.footer1107|raw }}
            </div>
        </div>
    </div>
</div>