{#
* Copyright (C) ATHOS TRADER SL <info@athosonline.com>  
#}

<div class="container-fluid p-0">
    <div class="{{ webFooter.properties.footerwidth }}">
        <div class="row">
            <div class="col-12 col-lg-2 p-3">
                {{ webFooter.content.footer1303|raw }}
            </div>

            <div class="col-12 col-lg-2 p-3">
                {{ webFooter.content.footer1304|raw }}
            </div>
            <div class="col-12 col-lg-2 p-3">
                {{ webFooter.content.footer1305|raw }}
            </div>
            <div class="col-12 col-lg-3 p-3">
                {{ webFooter.content.footer1301|raw }}
            </div>

            <div class="col-12 col-lg-3 p-3">
                {{ webFooter.content.footer1302|raw }}
            </div>
        </div>
    </div>
</div>