{#
* Copyright (C) ATHOS TRADER SL <info@athosonline.com>  
#}

<header class="{{ (webHeader.properties.generalstickyoverlap) ? 'fixed-top' : '' }}">
    <div class="header-top {{ (webHeader.content.header0201 == '' and webHeader.content.header0202 == '' and webHeader.content.header0203 == '' and webHeader.content.header0210 == '') ? 'd-none' : '' }} {{ (webHeader.properties.headertopshadow or webHeader.properties.headermainshadow) ? 'shadow-bottom-inside' : '' }} {{ (webHeader.properties.headertophidedesktop and webHeader.properties.headertophidemobile) ? 'd-none' : (webHeader.properties.headertophidedesktop) ? 'd-lg-none' : (webHeader.properties.headertophidemobile) ? 'd-none d-lg-block' }} {{ (webHeader.properties.headertopbordertopwidth > 0 and webHeader.properties.headertopbordertopcontainer == 'fullwidth') ? 'header-top-border-top' : '' }} {{ (webHeader.properties.headertopborderbottomwidth > 0 and webHeader.properties.headertopborderbottomcontainer == 'fullwidth') ? 'header-top-border-bottom' : '' }}">
        <div class="content {{ webHeader.properties.headerwidth }} {{ (webHeader.properties.headertopbordertopwidth > 0 and webHeader.properties.headertopbordertopcontainer == 'boxed') ? 'header-top-border-top' : '' }} {{ (webHeader.properties.headertopborderbottomwidth > 0 and webHeader.properties.headertopborderbottomcontainer == 'boxed') ? 'header-top-border-bottom' : '' }}">
            <div class="d-flex justify-content-between">
                <div class="d-none d-lg-block align-self-center {{ (webHeader.properties.headertoprowflexlayout == 1) ? 'flex-grow-1' : '' }}">
                    {{ webHeader.content.header0201|raw }}
                </div>

                <div class="d-none d-lg-block align-self-center {{ (webHeader.properties.headertoprowflexlayout == 0) ? 'flex-grow-1' : '' }}">
                    {{ webHeader.content.header0202|raw }}
                </div>

                <div class="d-none d-lg-block align-self-center {{ (webHeader.properties.headertoprowflexlayout == 1) ? 'flex-grow-1' : '' }}">
                    {{ webHeader.content.header0203|raw }}
                </div>

                <div class="d-block d-lg-none align-self-center {{ (webHeader.properties.headertoprowflexlayout == 1) ? 'flex-grow-1' : '' }}">
                    {{ webHeader.content.header0210|raw }}
                </div>
            </div>
        </div>
    </div>

    <div class="header-main {{ (webHeader.properties.headermainshadow and webHeader.properties.headerbottomshadow == null) ? 'shadow-bottom-inside' : '' }} {{ (webHeader.properties.headermainhidedesktop and webHeader.properties.headermainhidemobile) ? 'd-none' : (webHeader.properties.headermainhidedesktop) ? 'd-lg-none' : (webHeader.properties.headermainhidemobile) ? 'd-none d-lg-block' }} {{ (webHeader.properties.headermainbordertopwidth > 0 and webHeader.properties.headermainbordertopcontainer == 'fullwidth') ? 'header-main-border-top' : '' }} {{ (webHeader.properties.headermainborderbottomwidth > 0 and webHeader.properties.headermainborderbottomcontainer == 'fullwidth') ? 'header-main-border-bottom' : '' }}">
        <nav class="d-block d-lg-none navbar {{ (webHeader.properties.headermainborderbottomwidth > 0) ? 'header-main-border-bottom' : '' }}">
            <div class="row w-100 m-auto pb-1 d-flex justify-content-between">
                <div class="px-0 align-self-center {{ (webHeader.properties.generalpositiontogglemobile) ? 'order-3' : 'order-0' }}">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="order-1 px-0 align-self-center">
                    {{ webHeader.content.header0211|raw }}
                </div>

                <div class="order-2 px-0 align-self-center">
                    {{ webHeader.content.header0212|raw }}
                </div>
            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {{ webHeader.content.header0213|raw }}
            </div>
        </nav>

        <div class="content d-none d-lg-block {{ webHeader.properties.headerwidth }} {{ (webHeader.properties.headermainbordertopwidth > 0 and webHeader.properties.headermainbordertopcontainer == 'boxed') ? 'header-main-border-top' : '' }} {{ (webHeader.properties.headermainborderbottomwidth > 0 and webHeader.properties.headermainborderbottomcontainer == 'boxed') ? 'header-main-border-bottom' : '' }}">
            <div class="d-flex justify-content-between">
                <div class="d-none d-lg-block align-self-center {{ (webHeader.properties.headermainrowflexlayout == 1) ? 'flex-grow-1' : '' }}">
                    {{ webHeader.content.header0204|raw }}
                </div>

                <div class="d-none d-lg-block align-self-center {{ (webHeader.properties.headermainrowflexlayout == 0) ? 'flex-grow-1' : '' }}">
                    {{ webHeader.content.header0205|raw }}
                </div>

                <div class="d-none d-lg-block align-self-center {{ (webHeader.properties.headermainrowflexlayout == 1) ? 'flex-grow-1' : '' }}">
                    {{ webHeader.content.header0206|raw }}
                </div>
            </div>
        </div>
    </div>

    <div class="header-bottom {{ (webHeader.properties.headerbottomshadow) ? 'shadow-bottom-outside' : '' }} {{ (webHeader.properties.headerbottomhidedesktop and webHeader.properties.headerbottomhidemobile) ? 'd-none' : (webHeader.properties.headerbottomhidedesktop) ? 'd-lg-none' : (webHeader.properties.headerbottomhidemobile) ? 'd-none d-lg-block' }} {{ (webHeader.properties.headerbottombordertopwidth > 0 and webHeader.properties.headerbottombordertopcontainer == 'fullwidth') ? 'header-bottom-border-top' : '' }} {{ (webHeader.properties.headerbottomborderbottomwidth > 0 and webHeader.properties.headerbottomborderbottomcontainer == 'fullwidth') ? 'header-bottom-border-bottom' : '' }}">
        <div class="content {{ webHeader.properties.headerwidth }} {{ (webHeader.properties.headerbottombordertopwidth > 0 and webHeader.properties.headerbottombordertopcontainer == 'boxed') ? 'header-bottom-border-top' : '' }} {{ (webHeader.properties.headerbottomborderbottomwidth > 0 and webHeader.properties.headerbottomborderbottomcontainer == 'boxed') ? 'header-bottom-border-bottom' : '' }}">
            <div class="d-flex justify-content-between">
                <div class="d-none d-lg-block align-self-center {{ (webHeader.properties.headerbottomrowflexlayout == 1) ? 'flex-grow-1' : '' }}">
                    {{ webHeader.content.header0207|raw }}
                </div>

                <div class="d-none d-lg-block align-self-center {{ (webHeader.properties.headerbottomrowflexlayout == 0) ? 'flex-grow-1' : '' }}">
                    {{ webHeader.content.header0208|raw }}
                </div>

                <div class="d-none d-lg-block align-self-center {{ (webHeader.properties.headerbottomrowflexlayout == 1) ? 'flex-grow-1' : '' }}">
                    {{ webHeader.content.header0209|raw }}
                </div>

                <div class="d-block d-lg-none align-self-center {{ (webHeader.properties.headertoprowflexlayout == 1) ? 'flex-grow-1' : '' }}">
                    {{ webHeader.content.header0214|raw }}
                </div>
            </div>
        </div>
    </div>
</header>