{#
* Copyright (C) ATHOS TRADER SL <info@athosonline.com>  
#}

<header class="fixed-top">
    <div class="header-main {{ (webHeader.properties.headermainshadow) ? 'shadow-bottom-outside' : '' }} {{ (webHeader.properties.headermainhidedesktop and webHeader.properties.headermainhidemobile) ? 'd-none' : (webHeader.properties.headermainhidedesktop) ? 'd-lg-none' : (webHeader.properties.headermainhidemobile) ? 'd-none d-lg-block' }} {{ (webHeader.properties.headermainbordertopwidth > 0 and webHeader.properties.headermainbordertopcontainer == 'fullwidth') ? 'header-main-border-top' : '' }} {{ (webHeader.properties.headermainborderbottomwidth > 0 and webHeader.properties.headermainborderbottomcontainer == 'fullwidth') ? 'header-main-border-bottom' : '' }}">
        <nav class="navbar {{ webHeader.properties.headerwidth }} d-flex justify-content-between {{ (webHeader.properties.headermainbordertopwidth > 0 and webHeader.properties.headermainbordertopcontainer == 'boxed') ? 'header-main-border-top' : '' }} {{ (webHeader.properties.headermainborderbottomwidth > 0 and webHeader.properties.headermainborderbottomcontainer == 'boxed') ? 'header-main-border-bottom' : '' }}">
            <div class="align-self-center {{ (webHeader.properties.generalpositiontogglemobile) ? 'order-3' : 'order-0' }} {{ (webHeader.properties.headermainrowflexlayout == 1) ? 'flex-grow-1' : '' }}">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="order-1 align-self-center {{ (webHeader.properties.headermainrowflexlayout == 0) ? 'flex-grow-1' : '' }}">
                {{ webHeader.content.header0301|raw }}
            </div>

            <div class="order-2 align-self-center {{ (webHeader.properties.headermainrowflexlayout == 1) ? 'flex-grow-1' : '' }}">
                {{ webHeader.content.header0302|raw }}
            </div>
        </nav>

        <div class="collapse {{ (webHeader.properties.menufullheight) ? 'vh-100' : '' }}" id="navbarToggleExternalContent">
            <div class="{{ webHeader.properties.headerwidth }}">
                {{ webHeader.content.header0303|raw }}
            </div>
        </div>
    </div>
</header>