{#
* Copyright (C) ATHOS TRADER SL <info@athosonline.com>  
#}

<header>
    <div class="slide-in {{ (webHeader.properties.generalpositiontogglemobile) ? 'from-right' : 'from-left' }}">
        <div class="overlay"></div>

        <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button> 
        
        <div class="slide-in-content row">
            <div class="align-self-start text-white sidebar-top">
                {{ webHeader.content.header0401|raw }}
            </div>
            <div class="align-self-center text-white sidebar-middle">
                {{ webHeader.content.header0402|raw }}
            </div>
            <div class="align-self-end text-white sidebar-bottom">
                {{ webHeader.content.header0403|raw }}
            </div>
        </div>
    </div>
</header>