{#
* Copyright (C) ATHOS TRADER SL <info@athosonline.com>  
#}

{% extends "@PluginWebCreator/Web/Public/PortalTemplate.html.twig" %}

{% block css %}
    {{ parent() }}

    {% if webHeader.properties.headerlayout == 2 %}

        <style>
            .header-top,
            .header-top .content,
            .header-top .content .d-flex {
                min-height: {{ webHeader.properties.headertoprowheight }}px;
            }

            .header-top {
                {% if webHeader.properties.headertopbackgroundimage %}
                    background-image: url('{{ webSettings.siteurl ~ fsc.pageComposer.getAttachFile(webHeader.properties.headertopbackgroundimage) }}');
                    background-repeat: {{ webHeader.properties.headertopbackgroundimagerepeat }};
                    background-size: {{ webHeader.properties.headertopbackgroundimagesize }};
                    background-attachment: {{ webHeader.properties.headertopbackgroundimageattachment }};
                    background-position: {{ webHeader.properties.headertopbackgroundimageposition }};
                {% endif %}
            }

            .header-top-border-top {
                border-top-width: {{ webHeader.properties.headertopbordertopwidth }}px;
                border-top-color: {{ webHeader.properties.headertopbordertopcolor }};
                border-top-style: {{ webHeader.properties.headertopbordertopstyle }};
            }

            .header-top-border-bottom {
                border-bottom-width: {{ webHeader.properties.headertopborderbottomwidth }}px;
                border-bottom-color: {{ webHeader.properties.headertopborderbottomcolor }};
                border-bottom-style: {{ webHeader.properties.headertopborderbottomstyle }};
            }

            .header-bottom,
            .header-bottom .content,
            .header-bottom .content .d-flex {
                min-height: {{ webHeader.properties.headerbottomrowheight }}px;
            }

            .header-bottom {
                {% if webHeader.properties.headerbottombackgroundimage %}
                    background-image: url('{{ webSettings.siteurl ~ fsc.pageComposer.getAttachFile(webHeader.properties.headerbottombackgroundimage) }}');
                    background-repeat: {{ webHeader.properties.headerbottombackgroundimagerepeat }};
                    background-size: {{ webHeader.properties.headerbottombackgroundimagesize }};
                    background-attachment: {{ webHeader.properties.headerbottombackgroundimageattachment }};
                    background-position: {{ webHeader.properties.headerbottombackgroundimageposition }};
                {% endif %}
            }

            .header-bottom-border-top {
                border-top-width: {{ webHeader.properties.headerbottombordertopwidth }}px;
                border-top-color: {{ webHeader.properties.headerbottombordertopcolor }};
                border-top-style: {{ webHeader.properties.headerbottombordertopstyle }};
            }

            .header-bottom-border-bottom {
                border-bottom-width: {{ webHeader.properties.headerbottomborderbottomwidth }}px;
                border-bottom-color: {{ webHeader.properties.headerbottomborderbottomcolor }};
                border-bottom-style: {{ webHeader.properties.headerbottomborderbottomstyle }};
            }
        </style>

    {% elseif webHeader.properties.headerlayout == 4 or webHeader.properties.headerlayout == 5 %}

        <style>
            .slide-in {
                z-index: 1000; /* to position it in front of the other content */
                position: fixed;
                overflow: hidden; /* to prevent scrollbar appearing */
                height: 100%;
            }

            .slide-in.from-left {
                left: 0;
            }

            .slide-in.from-right {
                right: 0;
            }

            .slide-in-content {
                height: 100%;
                {% if webHeader.properties.menuwidth %}
                    width: 100vw;
                {% else %}
                    width: {{ webHeader.properties.menuwidth }}px;
                {% endif %}
                transition: transform .5s ease; /* our nice transition */
                padding: 0;
                margin: 0;
            }

            .slide-in.from-left .slide-in-content {
                transform: translateX(-100%);
                -webkit-transform: translateX(-100%);
            }

            .slide-in.from-right .slide-in-content {
                transform: translateX(100%);
                -webkit-transform: translateX(100%);
            }

            .slide-in.show .slide-in-content {
                transform: translateX(0);
                -webkit-transform: translateX(0);
            }

            .slide-in-content .sidebar-top,
            .slide-in-content .sidebar-middle,
            .slide-in-content .sidebar-bottom {
                min-width: 100%;
                height: auto;
            }

            /*-------------------------------*/
            /*       Hamburger-Cross         */
            /*-------------------------------*/

            .hamburger {
                position: fixed;
                top: 20px;  
                z-index: 1001;
                display: block;
                width: 32px;
                height: 32px;
                {% if webHeader.properties.generalpositiontogglemobile %}
                    margin-right: 20px;
                    right: 0;
                {% else %}
                    margin-left: 20px;
                    left: 0;
                {% endif %}
                background: transparent;
                border: none;
            }

            .hamburger:hover,
            .hamburger:focus,
            .hamburger:active {
                outline: none;
            }

            .hamburger.is-closed:before {
                content: '';
                display: block;
                width: 100px;
                font-size: 14px;
                color: #fff;
                line-height: 32px;
                text-align: center;
                opacity: 0;
                -webkit-transform: translate3d(0,0,0);
                -webkit-transition: all .35s ease-in-out;
            }

            .hamburger.is-closed:hover:before {
                opacity: 1;
                display: block;
                -webkit-transform: translate3d(-100px,0,0);
                -webkit-transition: all .35s ease-in-out;
            }

            .hamburger.is-closed .hamb-top,
            .hamburger.is-closed .hamb-middle,
            .hamburger.is-closed .hamb-bottom,
            .hamburger.is-open .hamb-top,
            .hamburger.is-open .hamb-middle,
            .hamburger.is-open .hamb-bottom {
                position: absolute;
                left: 0;
                height: 4px;
                width: 100%;
            }

            .hamburger.is-closed .hamb-top,
            .hamburger.is-closed .hamb-middle,
            .hamburger.is-closed .hamb-bottom {
                background-color: {{ webHeader.properties.generalmobilebuttoncolor }};
            }

            .hamburger.is-closed .hamb-top { 
                top: 5px; 
                -webkit-transition: all .35s ease-in-out;
            }

            .hamburger.is-closed .hamb-middle {
                top: 50%;
                margin-top: -2px;
            }

            .hamburger.is-closed .hamb-bottom {
                bottom: 5px;  
                -webkit-transition: all .35s ease-in-out;
            }

            .hamburger.is-closed:hover .hamb-top {
                top: 0;
                -webkit-transition: all .35s ease-in-out;
            }

            .hamburger.is-closed:hover .hamb-bottom {
                bottom: 0;
                -webkit-transition: all .35s ease-in-out;
            }

            .hamburger.is-open .hamb-top,
            .hamburger.is-open .hamb-middle,
            .hamburger.is-open .hamb-bottom {
                background-color: {{ webHeader.properties.generalmobilebuttoncolor }};
            }

            .hamburger.is-open .hamb-top,
            .hamburger.is-open .hamb-bottom {
                top: 50%;
                margin-top: -2px;  
            }

            .hamburger.is-open .hamb-top { 
                -webkit-transform: rotate(45deg);
                -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
            }

            .hamburger.is-open .hamb-middle { display: none; }
            .hamburger.is-open .hamb-bottom {
                -webkit-transform: rotate(-45deg);
                -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
            }

            .hamburger.is-open:before {
                content: '';
                display: block;
                width: 100px;
                font-size: 14px;
                color: #fff;
                line-height: 32px;
                text-align: center;
                opacity: 0;
                -webkit-transform: translate3d(0,0,0);
                -webkit-transition: all .35s ease-in-out;
            }

            .hamburger.is-open:hover:before {
                opacity: 1;
                display: block;
                -webkit-transform: translate3d(-100px,0,0);
                -webkit-transition: all .35s ease-in-out;
            }

            /*-------------------------------*/
            /*            Overlay            */
            /*-------------------------------*/

            .overlay {
                position: fixed;
                display: none;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 0;
            }

            @media (max-width: 991.98px) {
                .slide-in {
                    width: 100%;
                }

                .slide-in-content {
                    width: 85%;
                }
            }
        </style>

    {% endif %}
{% endblock %}

{% block javascriptfooter %}
    {{ parent() }}

    {% if webHeader.properties.headerlayout == 2 %}
        
        <script>
            $(document).ready(function(){
                var lastScroll = 0;
                $(window).on('scroll', function(){
                    var scroll = $(window).scrollTop();
                    var vh = $(window).height();
                    
                    {% if webHeader.properties.generalstickyoverlap == false %}
                        // SINGLE FLOATING HEADBOARDS
                        if (scroll > 0) {
                            {% if webHeader.properties.generalstickyoverlap or webHeader.properties.headertopmakesticky and webHeader.properties.headermainmakesticky and webHeader.properties.headerbottommakesticky %}
                                $('header').addClass('fixed-top');
                            {% else %}
                                {% if webHeader.properties.headertopmakesticky or webHeader.properties.headermainmakesticky or webHeader.properties.headerbottommakesticky %}
                                    $('header').addClass('fixed-top');
                                {% endif %}
                                
                                {% if webHeader.properties.headertopmakesticky %}
                                    $('.header-top').addClass('fixed-top').show();
                                    $('header').css('min-height', $('.header-top').outerHeight() + 'px');
                                {% else %}
                                    $('.header-top').hide();
                                {% endif %}

                                {% if webHeader.properties.headermainmakesticky %}
                                    $('.header-main').addClass('fixed-top').show();
                                    $('header').css('min-height', $('.header-main').outerHeight() + 'px');

                                    {% if webHeader.properties.headertopmakesticky %}
                                        $('.header-main').css('top', $('.header-top').outerHeight() + 'px');
                                        $('header').css('min-height', $('.header-main').outerHeight() + $('.header-top').outerHeight() + 'px');
                                    {% endif %}
                                {% else %}
                                    $('.header-main').hide();
                                {% endif %}

                                {% if webHeader.properties.headerbottommakesticky %}
                                    $('.header-bottom').addClass('fixed-top').show();
                                    $('header').css('min-height', $('.header-bottom').outerHeight() + 'px');

                                    {% if webHeader.properties.headertopmakesticky %}
                                        $('.header-bottom').css('top', $('.header-top').outerHeight() + 'px');
                                        $('header').css('min-height', $('.header-top').outerHeight() + $('.header-bottom').outerHeight() + 'px');
                                    {% elseif webHeader.properties.headermainmakesticky %}
                                        $('.header-bottom').css('top', $('.header-main').outerHeight() + 'px');
                                        $('header').css('min-height', $('.header-main').outerHeight() + $('.header-bottom').outerHeight() + 'px');
                                    {% endif %}
                                {% else %}
                                    $('.header-bottom').hide();
                                {% endif %}
                            {% endif %}
                        } else {
                            $('header, .header-top, .header-main, .header-bottom')
                                .css('top', '')
                                .css('min-height', '')
                                .removeClass('fixed-top').show();
                        }
                    {% endif %}

                    {% if webHeader.properties.generalstickyheadershadow %}
                        // SHOW OVERFLOW IN THE FLOATING MENU
                        if (scroll > 0) {
                            $('header').addClass('shadow-bottom-outside');
                        } else {
                            $('header').removeClass('shadow-bottom-outside');
                        }
                    {% endif %}

                    {% if webHeader.properties.generalstickyoverlap and webHeader.properties.generalstickyhidescrollingdown or webHeader.properties.headertopmakesticky and webHeader.properties.generalstickyhidescrollingdown or webHeader.properties.headermainmakesticky and webHeader.properties.generalstickyhidescrollingdown or webHeader.properties.headerbottommakesticky and webHeader.properties.generalstickyhidescrollingdown %}
                        // HIDE AND SHOW MENU BY MOVING SCROLL
                        if (scroll > lastScroll) {
                            // DOWN SCROLL
                            if (scroll >= ((vh * 20) / 100)) {
                                $('header').hide("slide", { direction: "up" }, 300);
                            } else {
                                $('header').show("slide", { direction: "up" }, 300);
                            }
                        } else {
                            // UP SCROLL
                            $('header').show("slide", { direction: "up" }, 300);
                        }

                        lastScroll = scroll;
                    {% endif %}
                });

                function headerTopBackgroundColor() {
                    var color = '{{ webHeader.properties.headertopbackgroundcolor }}';
                    var opacity = '{{ webHeader.properties.headertopbackgroundcoloropacity }}';
                    var r = parseInt(color.substr(1, 2), 16);
                    var g = parseInt(color.substr(3, 2), 16);
                    var b = parseInt(color.substr(5, 2), 16);
                    $('.header-top').css('background-color', 'rgb('+r+', '+g+', '+b+', '+opacity+')');
                }

                function headerBottomBackgroundColor() {
                    var color = '{{ webHeader.properties.headerbottombackgroundcolor }}';
                    var opacity = '{{ webHeader.properties.headerbottombackgroundcoloropacity }}';
                    var r = parseInt(color.substr(1, 2), 16);
                    var g = parseInt(color.substr(3, 2), 16);
                    var b = parseInt(color.substr(5, 2), 16);
                    $('.header-bottom').css('background-color', 'rgb('+r+', '+g+', '+b+', '+opacity+')');
                }

                function backgroundColorTemplate() {
                    headerTopBackgroundColor();
                    headerBottomBackgroundColor();
                }
                backgroundColorTemplate();
            });
        </script>

    {% elseif webHeader.properties.headerlayout == 3 %}

        <script>
            $('body').css('padding-top', $('header').outerHeight() + 'px');
        </script>

    {% elseif webHeader.properties.headerlayout == 4 or webHeader.properties.headerlayout == 5 %}

        <script>
            $(document).ready(function () {
                function sidebarBackgroundColor() {
                    var color = '{{ webHeader.properties.generalbackgroundcolor }}';
                    var opacity = '{{ webHeader.properties.generalbackgroundcoloropacity }}';
                    var r = parseInt(color.substr(1, 2), 16);
                    var g = parseInt(color.substr(3, 2), 16);
                    var b = parseInt(color.substr(5, 2), 16);
                    $('.slide-in-content').css('background-color', 'rgb('+r+', '+g+', '+b+', '+opacity+')');
                }

                function sidebarTopBackgroundColor() {
                    var color = '{{ webHeader.properties.headertopbackgroundcolor }}';
                    var opacity = '{{ webHeader.properties.headertopbackgroundcoloropacity }}';
                    var r = parseInt(color.substr(1, 2), 16);
                    var g = parseInt(color.substr(3, 2), 16);
                    var b = parseInt(color.substr(5, 2), 16);
                    $('.sidebar-top').css('background-color', 'rgb('+r+', '+g+', '+b+', '+opacity+')');
                }

                function sidebarMiddleBackgroundColor() {
                    var color = '{{ webHeader.properties.headermainbackgroundcolor }}';
                    var opacity = '{{ webHeader.properties.headermainbackgroundcoloropacity }}';
                    var r = parseInt(color.substr(1, 2), 16);
                    var g = parseInt(color.substr(3, 2), 16);
                    var b = parseInt(color.substr(5, 2), 16);
                    $('.sidebar-middle').css('background-color', 'rgb('+r+', '+g+', '+b+', '+opacity+')');
                }

                function sidebarBottomBackgroundColor() {
                    var color = '{{ webHeader.properties.headerbottombackgroundcolor }}';
                    var opacity = '{{ webHeader.properties.headerbottombackgroundcoloropacity }}';
                    var r = parseInt(color.substr(1, 2), 16);
                    var g = parseInt(color.substr(3, 2), 16);
                    var b = parseInt(color.substr(5, 2), 16);
                    $('.sidebar-bottom').css('background-color', 'rgb('+r+', '+g+', '+b+', '+opacity+')');
                }

                function overlayBackgroundColor() {
                    var color = '{{ webHeader.properties.overlaybackgroundcolor }}';
                    var opacity = '{{ webHeader.properties.overlaybackgroundcoloropacity }}';
                    var r = parseInt(color.substr(1, 2), 16);
                    var g = parseInt(color.substr(3, 2), 16);
                    var b = parseInt(color.substr(5, 2), 16);
                    $('.overlay').css('background-color', 'rgb('+r+', '+g+', '+b+', '+opacity+')');
                }

                function backgroundColorTemplate() {
                    sidebarBackgroundColor();
                    sidebarTopBackgroundColor();
                    sidebarMiddleBackgroundColor();
                    sidebarBottomBackgroundColor();
                    overlayBackgroundColor();
                }
                backgroundColorTemplate();

                var trigger = $('.hamburger'),
                    overlay = $('.overlay'),
                    isClosed = false;

                trigger.click(function () {
                    hamburger_cross();      
                });

                function hamburger_cross() {
                    if (isClosed == true) {          
                        overlay.hide();
                        trigger.removeClass('is-open');
                        trigger.addClass('is-closed');
                        isClosed = false;

                        {% if webHeader.properties.generalpositiontogglemobile %}
                            trigger.animate({
                                'right': '0px'    
                            }, 350);
                        {% else %}
                            trigger.animate({
                                'left': '0px'    
                            }, 350);
                        {% endif %}

                    } else { 

                        overlay.show();
                        trigger.removeClass('is-closed');
                        trigger.addClass('is-open');
                        isClosed = true;

                        {% if webHeader.properties.menufullwidth is not defined %}
                            {% if webHeader.properties.generalpositiontogglemobile %}
                                trigger.animate({
                                    'right': $('.slide-in-content').width() + 'px'
                                }, 350);
                            {% else %}
                                trigger.animate({
                                    'left': $('.slide-in-content').width() + 'px'
                                }, 350);
                            {% endif %}
                        {% endif %}
                    }
                }

                $('[data-toggle="offcanvas"]').click(function () {
                    $('.slide-in').toggleClass('show');
                });

                $('.overlay').click(function () {
                    if (isClosed) {
                        trigger.click();
                    }
                });

                {% if webHeader.properties.headerlayout == 5 %}
                    $('.overlay').remove();

                    var widthWindow = $(window).width();

                    // Only desktop
                    if (widthWindow > 991.98) {
                        trigger.click();
                        trigger.hide();
                        var newWidth = widthWindow - $('.slide-in-content').width();
                        $('.body-content, .page-title, footer').css('max-width', newWidth + 'px');

                        {% if webHeader.properties.generalpositiontogglemobile %}
                            $('.body-content, .page-title, footer').css('margin-right', $('.slide-in-content').width() + 'px');
                        {% else %}
                            $('.body-content, .page-title, footer').css('margin-left', $('.slide-in-content').width() + 'px');
                        {% endif %}
                    }
                {% endif %}
            });
        </script>

    {% endif %}
{% endblock %}