{% extends "@PluginWebCreator/Web/Admin/EditWebHeader.html.twig" %}

{#
* Copyright (C) ATHOS TRADER SL <info@athosonline.com>  
#}

{% block javascript %}
    <script>
        $(document).ready(function(){
            $('.tab-mobile, .individualsticky, .generalTabSticky').addClass('header02');
            $('.individualTabBorder, .mobilebtnbordercolor').addClass('header02 header03');
        });
    </script>

    {{ parent() }}
{% endblock %}

{% block headerStyles %}
    {{ parent() }}

    <label class="btn btn-secondary col-6 col-lg-4">
        <input type="radio" name="headerlayout" value="02" {{ (dataHeader.properties.headerlayout == '02') ? 'checked' : '' }}>
        <img src="{{ asset('Dinamic/Assets/Images/header02.png') }}" />
    </label>

    <label class="btn btn-secondary col-6 col-lg-4">
        <input type="radio" name="headerlayout" value="03" {{ (dataHeader.properties.headerlayout == '03') ? 'checked' : '' }}>
        <img src="{{ asset('Dinamic/Assets/Images/header03.png') }}" />
    </label>

    <label class="btn btn-secondary col-6 col-lg-4">
        <input type="radio" name="headerlayout" value="04" {{ (dataHeader.properties.headerlayout == '04') ? 'checked' : '' }}>
        <img src="{{ asset('Dinamic/Assets/Images/header04.png') }}" />
    </label>

    <label class="btn btn-secondary col-6 col-lg-4">
        <input type="radio" name="headerlayout" value="05" {{ (dataHeader.properties.headerlayout == '05') ? 'checked' : '' }}>
        <img src="{{ asset('Dinamic/Assets/Images/header05.png') }}" />
    </label>
{% endblock %}

{% block headerContentDesktop %}
    {{ parent() }}

    <div class="headerlayout header02">
        <div class="card mt-4 shadow">
            <div class="card-header">
                <div class="d-flex bd-highlight">
                    <div class="mr-auto bd-highlight">
                        {{ i18n.trans('card-top') }}
                    </div>
                    <div class="bd-highlight">
                        <button type="button" class="btn btn-secondary d-flex justify-content-end" data-toggle="modal" data-target="#modalHeaderTop">
                            <i class="fas fa-cog"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div id="header0201" class="codemirror htmlEditor">
                            <textarea class="d-none" name="header0201"></textarea>
                            <code class="d-none">{{ dataHeader.content.header0201 }}</code>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div id="header0202" class="codemirror htmlEditor">
                            <textarea class="d-none" name="header0202"></textarea>
                            <code class="d-none">{{ dataHeader.content.header0202 }}</code>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div id="header0203" class="codemirror htmlEditor">
                            <textarea class="d-none" name="header0203"></textarea>
                            <code class="d-none">{{ dataHeader.content.header0203 }}</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-4 shadow">
            <div class="card-header">
                <div class="d-flex bd-highlight">
                    <div class="mr-auto bd-highlight">
                        {{ i18n.trans('card-main') }}
                    </div>
                    <div class="bd-highlight">
                        <button type="button" class="btn btn-secondary d-flex justify-content-end" data-toggle="modal" data-target="#modalHeaderMain">
                            <i class="fas fa-cog"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div id="header0204" class="codemirror htmlEditor">
                            <textarea class="d-none" name="header0204"></textarea>
                            <code class="d-none">{{ dataHeader.content.header0204 }}</code>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div id="header0205" class="codemirror htmlEditor">
                            <textarea class="d-none" name="header0205"></textarea>
                            <code class="d-none">{{ dataHeader.content.header0205 }}</code>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div id="header0206" class="codemirror htmlEditor">
                            <textarea class="d-none" name="header0206"></textarea>
                            <code class="d-none">{{ dataHeader.content.header0206 }}</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-4 shadow">
            <div class="card-header">
                <div class="d-flex bd-highlight">
                    <div class="mr-auto bd-highlight">
                        {{ i18n.trans('card-bottom') }}
                    </div>
                    <div class="bd-highlight">
                        <button type="button" class="btn btn-secondary d-flex justify-content-end" data-toggle="modal" data-target="#modalHeaderBottom">
                            <i class="fas fa-cog"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div id="header0207" class="codemirror htmlEditor">
                            <textarea class="d-none" name="header0207"></textarea>
                            <code class="d-none">{{ dataHeader.content.header0207 }}</code>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div id="header0208" class="codemirror htmlEditor">
                            <textarea class="d-none" name="header0208"></textarea>
                            <code class="d-none">{{ dataHeader.content.header0208 }}</code>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div id="header0209" class="codemirror htmlEditor">
                            <textarea class="d-none" name="header0209"></textarea>
                            <code class="d-none">{{ dataHeader.content.header0209 }}</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="headerlayout header03">
        <div class="card mt-4 shadow">
            <div class="card-header">
                <div class="d-flex bd-highlight">
                    <div class="mr-auto bd-highlight">
                        
                    </div>
                    <div class="bd-highlight">
                        <button type="button" class="btn btn-secondary d-flex justify-content-end" data-toggle="modal" data-target="#modalHeaderMain">
                            <i class="fas fa-cog"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <p class="col-12">
                        {{ i18n.trans('header-toogle-box') }}
                    </p>

                    <div class="col-12 col-md-6">
                        <div id="header0301" class="codemirror htmlEditor">
                            <textarea class="d-none" name="header0301"></textarea>
                            <code class="d-none">{{ dataHeader.content.header0301 }}</code>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div id="header0302" class="codemirror htmlEditor">
                            <textarea class="d-none" name="header0302"></textarea>
                            <code class="d-none">{{ dataHeader.content.header0302 }}</code>
                        </div>
                    </div>

                    <p class="col-12 mt-3">
                        {{ i18n.trans('header-toogle') }}
                    </p>

                    <div class="col-12">
                        <div id="header0303" class="codemirror htmlEditor">
                            <textarea class="d-none" name="header0303"></textarea>
                            <code class="d-none">{{ dataHeader.content.header0303 }}</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="headerlayout header04">
        <div class="card mt-4 shadow">
            <div class="card-header">
                <div class="d-flex bd-highlight">
                    <div class="mr-auto bd-highlight">
                        {{ i18n.trans('card-top') }}
                    </div>
                    <div class="bd-highlight">
                        <button type="button" class="btn btn-secondary d-flex justify-content-end" data-toggle="modal" data-target="#modalHeaderTop">
                            <i class="fas fa-cog"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="header0401" class="codemirror htmlEditor">
                    <textarea class="d-none" name="header0401"></textarea>
                    <code class="d-none">{{ dataHeader.content.header0401 }}</code>
                </div>
            </div>
        </div>
        
        <div class="card mt-4 shadow">
            <div class="card-header">
                <div class="d-flex bd-highlight">
                    <div class="mr-auto bd-highlight">
                        {{ i18n.trans('card-main') }}
                    </div>
                    <div class="bd-highlight">
                        <button type="button" class="btn btn-secondary d-flex justify-content-end" data-toggle="modal" data-target="#modalHeaderMain">
                            <i class="fas fa-cog"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="header0402" class="codemirror htmlEditor">
                    <textarea class="d-none" name="header0402"></textarea>
                    <code class="d-none">{{ dataHeader.content.header0402 }}</code>
                </div>
            </div>
        </div>

        <div class="card mt-4 shadow">
            <div class="card-header">
                <div class="d-flex bd-highlight">
                    <div class="mr-auto bd-highlight">
                        {{ i18n.trans('card-bottom') }}
                    </div>
                    <div class="bd-highlight">
                        <button type="button" class="btn btn-secondary d-flex justify-content-end" data-toggle="modal" data-target="#modalHeaderBottom">
                            <i class="fas fa-cog"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="header0403" class="codemirror htmlEditor">
                    <textarea class="d-none" name="header0403"></textarea>
                    <code class="d-none">{{ dataHeader.content.header0403 }}</code>
                </div>
            </div>
        </div>
    </div>

    <div class="headerlayout header05">
        <div class="card mt-4 shadow">
            <div class="card-header">
                <div class="d-flex bd-highlight">
                    <div class="mr-auto bd-highlight">
                        {{ i18n.trans('card-top') }}
                    </div>
                    <div class="bd-highlight">
                        <button type="button" class="btn btn-secondary d-flex justify-content-end" data-toggle="modal" data-target="#modalHeaderTop">
                            <i class="fas fa-cog"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="header0501" class="codemirror htmlEditor">
                    <textarea class="d-none" name="header0501"></textarea>
                    <code class="d-none">{{ dataHeader.content.header0501 }}</code>
                </div>
            </div>
        </div>
        
        <div class="card mt-4 shadow">
            <div class="card-header">
                <div class="d-flex bd-highlight">
                    <div class="mr-auto bd-highlight">
                        {{ i18n.trans('card-main') }}
                    </div>
                    <div class="bd-highlight">
                        <button type="button" class="btn btn-secondary d-flex justify-content-end" data-toggle="modal" data-target="#modalHeaderMain">
                            <i class="fas fa-cog"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="header0502" class="codemirror htmlEditor">
                    <textarea class="d-none" name="header0502"></textarea>
                    <code class="d-none">{{ dataHeader.content.header0502 }}</code>
                </div>
            </div>
        </div>

        <div class="card mt-4 shadow">
            <div class="card-header">
                <div class="d-flex bd-highlight">
                    <div class="mr-auto bd-highlight">
                        {{ i18n.trans('card-bottom') }}
                    </div>
                    <div class="bd-highlight">
                        <button type="button" class="btn btn-secondary d-flex justify-content-end" data-toggle="modal" data-target="#modalHeaderBottom">
                            <i class="fas fa-cog"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="header0503" class="codemirror htmlEditor">
                    <textarea class="d-none" name="header0503"></textarea>
                    <code class="d-none">{{ dataHeader.content.header0503 }}</code>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block headerContentMobile %}
    {{ parent() }}

    <div class="headerlayout header02">
        <div class="card mt-4 shadow">
            <div class="card-header">
                <div class="d-flex bd-highlight">
                    <div class="mr-auto bd-highlight">
                        {{ i18n.trans('card-top') }}
                    </div>
                    <div class="bd-highlight">
                        <button type="button" class="btn btn-secondary d-flex justify-content-end" data-toggle="modal" data-target="#modalHeaderTop">
                            <i class="fas fa-cog"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div id="header0210" class="codemirror htmlEditor">
                            <textarea class="d-none" name="header0210"></textarea>
                            <code class="d-none">{{ dataHeader.content.header0210 }}</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-4 shadow">
            <div class="card-header">
                <div class="d-flex bd-highlight">
                    <div class="mr-auto bd-highlight">
                        {{ i18n.trans('card-main') }}
                    </div>
                    <div class="bd-highlight">
                        <button type="button" class="btn btn-secondary d-flex justify-content-end" data-toggle="modal" data-target="#modalHeaderMain">
                            <i class="fas fa-cog"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <p class="col-12 mt-3">
                        {{ i18n.trans('header-toogle-box') }}
                    </p>

                    <div class="col-12 col-md-6">   
                        <div id="header0211" class="codemirror htmlEditor">
                            <textarea class="d-none" name="header0211"></textarea>
                            <code class="d-none">{{ dataHeader.content.header0211 }}</code>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div id="header0212" class="codemirror htmlEditor">
                            <textarea class="d-none" name="header0212"></textarea>
                            <code class="d-none">{{ dataHeader.content.header0212 }}</code>
                        </div>
                    </div>

                    <hr/>

                    <p class="col-12 mt-3">
                        {{ i18n.trans('header-toogle') }}
                    </p>

                    <div class="col-12">
                        <div id="header0213" class="codemirror htmlEditor">
                            <textarea class="d-none" name="header0213"></textarea>
                            <code class="d-none">{{ dataHeader.content.header0213 }}</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-4 shadow">
            <div class="card-header">
                <div class="d-flex bd-highlight">
                    <div class="mr-auto bd-highlight">
                        {{ i18n.trans('card-bottom') }}
                    </div>
                    <div class="bd-highlight">
                        <button type="button" class="btn btn-secondary d-flex justify-content-end" data-toggle="modal" data-target="#modalHeaderBottom">
                            <i class="fas fa-cog"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div id="header0214" class="codemirror htmlEditor">
                            <textarea class="d-none" name="header0214"></textarea>
                            <code class="d-none">{{ dataHeader.content.header0214 }}</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modalGeneralSettings %}
    {{ parent() }}

    <div class="form-group form-check mt-3 headerlayout header03">
        <hr/>

        <input type="checkbox" class="form-check-input" id="menuFullHeight" name="menufullheight" {{ (dataHeader.properties.menufullheight) ? 'checked' : '' }}>
        <label class="form-check-label" for="menuFullHeight">{{ i18n.trans('menu-full-height') }}</label>
        <div class="text-muted font-italic font-size-10">{{ i18n.trans('menu-full-help') }}</div>
    </div>

    <div class="form-group mt-3 headerlayout header04">
        <hr/>

        <label class="form-label" for="menuWeight">{{ i18n.trans('width') }}</label>
        <input type="number" min="0" step="1" class="form-control" id="menuWidth" name="menuwidth" value="{{ (dataHeader.properties.menuwidth) ? dataHeader.properties.menuwidth : 300 }}">
        <div class="text-muted font-italic font-size-10">{{ i18n.trans('menu-width-help') }}</div>
    </div>

    <div class="form-group form-check mt-3 headerlayout header04">
        <hr/>

        <input type="checkbox" class="form-check-input" id="menuFullWidth" name="menufullwidth" {{ (dataHeader.properties.menufullwidth) ? 'checked' : '' }}>
        <label class="form-check-label" for="menuFullWidth">{{ i18n.trans('menu-full-width') }}</label>
        <div class="text-muted font-italic font-size-10">{{ i18n.trans('menu-full-help') }}</div>
    </div>
{% endblock %}

{% block modalGeneralBackground %}
    {{ parent() }}

    <div class="row mt-3 headerlayout header04">
        <div class="col-12 bg-secondary text-light py-2">
            {{ i18n.trans('background-overlay') }}
        </div>

        <div class="col-12 mt-3">
            <div class="row">
                <div class="col-5">
                    <label class="form-label">{{ i18n.trans('color') }}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-palette fa-fw"></i>
                            </span>
                        </div>
                        <input type="color" name="overlaybackgroundcolor" value="{{ (dataHeader.properties.backgroundcolor) ? dataHeader.properties.backgroundcolor : '#ffffff' }}" class="form-control selectColor" autocomplete="off">
                    </div>
                </div>

                <div class="col-5">
                    <label for="overlaybackgroundcoloropacity">{{ i18n.trans('opacity') }}: <output name="ageOutputName" id="OverlayBackgroundColorOpacityOutput">{{ (dataHeader.properties.overlaybackgroundcoloropacity) ? dataHeader.properties.overlaybackgroundcoloropacity : 1 }}</output></label>
                    <input type="range" class="form-control-range selectOpacity" name="overlaybackgroundcoloropacity" id="OverlayBackgroundColorOpacityInput" value="{{ (dataHeader.properties.overlaybackgroundcoloropacity) ? dataHeader.properties.overlaybackgroundcoloropacity : 1 }}" min="0" max="1" step="0.1" oninput="OverlayBackgroundColorOpacityOutput.value = OverlayBackgroundColorOpacityInput.value">
                </div>

                <div class="col-2 text-center">
                    <label><i class="far fa-eye"></i></label>
                    <div class="backgroundColor" style="width: 100%; height: 25px; border: 1px solid #f1f1f1;"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}