{% extends "@PluginWebCreator/Web/Admin/EditWebFooter.html.twig" %}

{#
* Copyright (C) ATHOS TRADER SL <info@athosonline.com>  
#}

{% block footerContent %}
    {{ parent() }}

    <div class="footerlayout" id="footer02">
        <div class="row">
            <div class="col-6">
                <div id="footer0201" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0201"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0201 }}</code>
                </div>
            </div>

            <div class="col-6">
                <div id="footer0202" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0202"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0202 }}</code>
                </div>
            </div>
        </div>
    </div>

    <div class="footerlayout" id="footer03">
        <div class="row">
            <div class="col-4">
                <div id="footer0301" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0301"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0301 }}</code>
                </div>
            </div>

            <div class="col-4">
                <div id="footer0302" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0302"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0302 }}</code>
                </div>
            </div>

            <div class="col-4">
                <div id="footer0303" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0303"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0303 }}</code>
                </div>
            </div>
        </div>
    </div>

    <div class="footerlayout" id="footer04">
        <div class="row">
            <div class="col-3">
                <div id="footer0401" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0401"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0401 }}</code>
                </div>
            </div>

            <div class="col-3">
                <div id="footer0402" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0402"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0402 }}</code>
                </div>
            </div>

            <div class="col-3">
                <div id="footer0403" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0403"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0403 }}</code>
                </div>
            </div>

            <div class="col-3">
                <div id="footer0404" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0404"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0404 }}</code>
                </div>
            </div>
        </div>
    </div>

    <div class="footerlayout" id="footer05">
        <div class="row">
            <div class="col-2">
                <div id="footer0501" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0501"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0501 }}</code>
                </div>
            </div>

            <div class="col-2">
                <div id="footer0502" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0502"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0502 }}</code>
                </div>
            </div>

            <div class="col-2">
                <div id="footer0503" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0503"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0503 }}</code>
                </div>
            </div>

            <div class="col-2">
                <div id="footer0504" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0504"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0504 }}</code>
                </div>
            </div>

            <div class="col-2">
                <div id="footer0505" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0505"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0505 }}</code>
                </div>
            </div>

            <div class="col-2">
                <div id="footer0506" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0506"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0506 }}</code>
                </div>
            </div>
        </div>
    </div>

    <div class="footerlayout" id="footer06">
        <div class="row">
            <div class="col-3">
                <div id="footer0601" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0601"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0601 }}</code>
                </div>
            </div>

            <div class="col-6">
                <div id="footer0602" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0602"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0602 }}</code>
                </div>
            </div>

            <div class="col-3">
                <div id="footer0603" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0603"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0603 }}</code>
                </div>
            </div>
        </div>
    </div>

    <div class="footerlayout" id="footer07">
        <div class="row">
            <div class="col-6">
                <div id="footer0701" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0701"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0701 }}</code>
                </div>
            </div>

            <div class="col-3">
                <div id="footer0702" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0702"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0702 }}</code>
                </div>
            </div>

            <div class="col-3">
                <div id="footer0703" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0703"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0703 }}</code>
                </div>
            </div>
        </div>
    </div>

    <div class="footerlayout" id="footer08">
        <div class="row">
            <div class="col-3">
                <div id="footer0801" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0801"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0801 }}</code>
                </div>
            </div>

            <div class="col-3">
                <div id="footer0802" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0802"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0802 }}</code>
                </div>
            </div>

            <div class="col-6">
                <div id="footer0803" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0803"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0803 }}</code>
                </div>
            </div>
        </div>
    </div>

    <div class="footerlayout" id="footer09">
        <div class="row">
            <div class="col-2">
                <div id="footer0901" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0901"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0901 }}</code>
                </div>
            </div>

            <div class="col-2">
                <div id="footer0902" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0902"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0902 }}</code>
                </div>
            </div>

            <div class="col-2">
                <div id="footer0903" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0903"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0903 }}</code>
                </div>
            </div>

            <div class="col-2">
                <div id="footer0904" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0904"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0904 }}</code>
                </div>
            </div>
            
            <div class="col-4">
                <div id="footer0905" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer0905"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer0905 }}</code>
                </div>
            </div>
        </div>
    </div>

    <div class="footerlayout" id="footer10">
        <div class="row">
            <div class="col-4">
                <div id="footer1001" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer1001"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer1001 }}</code>
                </div>
            </div>
            
            <div class="col-2">
                <div id="footer1002" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer1002"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer1002 }}</code>
                </div>
            </div>

            <div class="col-2">
                <div id="footer1003" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer1003"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer1003 }}</code>
                </div>
            </div>

            <div class="col-2">
                <div id="footer1004" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer1004"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer1004 }}</code>
                </div>
            </div>

            <div class="col-2">
                <div id="footer1005" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer1005"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer1005 }}</code>
                </div>
            </div>
        </div>
    </div>

    <div class="footerlayout" id="footer11">
        <div class="row">
            <div class="col-3">
                <div id="footer1001" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer1001"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer1001 }}</code>
                </div>
            </div>

            <div class="col-3">
                <div id="footer1002" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer1002"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer1002 }}</code>
                </div>
            </div>

            <div class="col-2">
                <div id="footer1003" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer1003"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer1003 }}</code>
                </div>
            </div>

            <div class="col-2">
                <div id="footer1004" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer1004"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer1004 }}</code>
                </div>
            </div>
            
            <div class="col-2">
                <div id="footer1005" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer1005"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer1005 }}</code>
                </div>
            </div>
        </div>
    </div>

    <div class="footerlayout" id="footer12">
        <div class="row">
            <div class="col-2">
                <div id="footer1201" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer1201"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer1201 }}</code>
                </div>
            </div>

            <div class="col-2">
                <div id="footer1202" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer1202"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer1202 }}</code>
                </div>
            </div>
            
            <div class="col-2">
                <div id="footer1203" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer1203"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer1203 }}</code>
                </div>
            </div>

            <div class="col-3">
                <div id="footer1204" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer1204"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer1204 }}</code>
                </div>
            </div>

            <div class="col-3">
                <div id="footer1205" class="codemirror htmlEditor">
                    <textarea class="d-none" name="footer1205"></textarea>
                    <code class="d-none">{{ dataFooter.content.footer1205 }}</code>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerStyles %}
    {{ parent() }}

    <label class="btn btn-secondary col-6 col-lg-4">
        <input type="radio" name="footerlayout" value="02" {{ (dataFooter.properties.footerlayout == '02') ? 'checked' : '' }}>
        <img src="{{ asset('Dinamic/Assets/Images/footer02.png') }}" />
    </label>
    <label class="btn btn-secondary col-6 col-lg-4">
        <input type="radio" name="footerlayout" value="03" {{ (dataFooter.properties.footerlayout == '03') ? 'checked' : '' }}>
        <img src="{{ asset('Dinamic/Assets/Images/footer03.png') }}" />
    </label>
    <label class="btn btn-secondary col-6 col-lg-4">
        <input type="radio" name="footerlayout" value="04" {{ (dataFooter.properties.footerlayout == '04') ? 'checked' : '' }}>
        <img src="{{ asset('Dinamic/Assets/Images/footer04.png') }}" />
    </label>
    <label class="btn btn-secondary col-6 col-lg-4">
        <input type="radio" name="footerlayout" value="05" {{ (dataFooter.properties.footerlayout == '05') ? 'checked' : '' }}>
        <img src="{{ asset('Dinamic/Assets/Images/footer05.png') }}" />
    </label>
    <label class="btn btn-secondary col-6 col-lg-4">
        <input type="radio" name="footerlayout" value="06" {{ (dataFooter.properties.footerlayout == '06') ? 'checked' : '' }}>
        <img src="{{ asset('Dinamic/Assets/Images/footer06.png') }}" />
    </label>
    <label class="btn btn-secondary col-6 col-lg-4">
        <input type="radio" name="footerlayout" value="07" {{ (dataFooter.properties.footerlayout == '07') ? 'checked' : '' }}>
        <img src="{{ asset('Dinamic/Assets/Images/footer07.png') }}" />
    </label>
    <label class="btn btn-secondary col-6 col-lg-4">
        <input type="radio" name="footerlayout" value="08" {{ (dataFooter.properties.footerlayout == '08') ? 'checked' : '' }}>
        <img src="{{ asset('Dinamic/Assets/Images/footer08.png') }}" />
    </label>
    <label class="btn btn-secondary col-6 col-lg-4">
        <input type="radio" name="footerlayout" value="09" {{ (dataFooter.properties.footerlayout == '09') ? 'checked' : '' }}>
        <img src="{{ asset('Dinamic/Assets/Images/footer09.png') }}" />
    </label>
    <label class="btn btn-secondary col-6 col-lg-4">
        <input type="radio" name="footerlayout" value="10" {{ (dataFooter.properties.footerlayout == '10') ? 'checked' : '' }}>
        <img src="{{ asset('Dinamic/Assets/Images/footer10.png') }}" />
    </label>
    <label class="btn btn-secondary col-6 col-lg-4">
        <input type="radio" name="footerlayout" value="11" {{ (dataFooter.properties.footerlayout == '11') ? 'checked' : '' }}>
        <img src="{{ asset('Dinamic/Assets/Images/footer11.png') }}" />
    </label>
    <label class="btn btn-secondary col-6 col-lg-4">
        <input type="radio" name="footerlayout" value="12" {{ (dataFooter.properties.footerlayout == '12') ? 'checked' : '' }}>
        <img src="{{ asset('Dinamic/Assets/Images/footer12.png') }}" />
    </label>
{% endblock %}